Q1. Create one variable containing following type of data: 
(i) string 
(ii) list 
(iii) float 
(iv) tuple

In [17]:
# String
A = "Ningaraj D B"
type(A)

str

In [15]:
# List
B = ["PW Skill", "iNeuron", "Data Science 2.0"]
type(B)

list

In [14]:
# Float
C = 11.052023
type(C)

float

In [19]:
# Tuple
D = ("Sudanshu Sir", "Krishn Naik Sir", "Python", "Masters")
type(D)

tuple

Q2. Given are some following variables containing data: 
(i) var1 = ‘ ‘ 
(ii) var2 = ‘[ DS , ML , Python]’ 
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ] 
(iv) var4 = 1. 
What will be the data type of the above given variable.

In [21]:
var1 = '' 
type(var1)

str

In [24]:
var2 = '[ DS , ML , Python]'
type(var2)

str

In [27]:
var3 = [ 'DS' , 'ML' , 'Python' ] 
type(var3)

list

In [28]:
var4 = 1
type(var4)

int

Q3. Explain the use of the following operators using an example: 
(i) / 
(ii) %  
(iii) // 
(iv) **

In [33]:
a=10
b=5

In [34]:
print(a/b)

2.0

In [35]:
print(a%b)

0

In [36]:
print(a//b)

2

In [37]:
print(a**b)

100000

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the  element and its data type.

In [79]:
my_list = ["List", "Dictionary", 2.0, 10, {"Name":"Ningaraja DB", "Age":15}, (10,9,8,7,6,5,4,3,2,1), [1,2,3,4,5,6,7,8,9], "print"]
for i in my_list:
    a = type(i)
    print(a)

<class 'str'>
<class 'str'>
<class 'float'>
<class 'int'>
<class 'dict'>
<class 'tuple'>
<class 'list'>
<class 'str'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many  times it can be divisible.

In [2]:
A = int(input("Enter A: "))
B = int(input("Enter B: "))
count = 0

while A % B == 0:
    count += 1
    A /= B

if count > 0:
    print(f"{A} is divisible by {B},{count} times.")
else:
    print(f"{A} is not divisible by {B}.")

Enter A: 8
Enter B: 2
1.0 is divisible by 2,3 times.

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [4]:
my_list1 = [3,2,6,4,9,8,12,10,15,12,18,14,21,17,24,20,17,23,22,30,33]
for i in my_list1:
#     print(i)
    if i % 3 == 0:
        print(i, "Is Divisible by 3")
    else:
        print(i, "Is Not Divisible by 3")

3 Is Divisible by 3
2 Is Not Divisible by 3
6 Is Divisible by 3
4 Is Not Divisible by 3
9 Is Divisible by 3
8 Is Not Divisible by 3
12 Is Divisible by 3
10 Is Not Divisible by 3
15 Is Divisible by 3
12 Is Divisible by 3
18 Is Divisible by 3
14 Is Not Divisible by 3
21 Is Divisible by 3
17 Is Not Divisible by 3
24 Is Divisible by 3
20 Is Not Divisible by 3
17 Is Not Divisible by 3
23 Is Not Divisible by 3
22 Is Not Divisible by 3
30 Is Divisible by 3
33 Is Divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing  this property.

In [114]:
# Mutable Means we can change and modify the values of the data type
# Example: List 
q = [1,2,3,4,5]
#I can append the New value to the list elements
q.append(6)
q

[1, 2, 3, 4, 5, 6]

In [116]:
# Immutable means we cannot change and modify the elements of the data types 
# Example : tuple 
tup = (8,1,4,5,6,7,8,9)
# Except an Error like Below 
tup.append(10)

AttributeError: 'tuple' object has no attribute 'append'

In [117]:
# We cannot po
tup.pop()

AttributeError: 'tuple' object has no attribute 'pop'