In [1]:
# Dynamic programming Launguage
a = 10

In [6]:
int('9874523') #Type casting

9874523

In [7]:
print("Hello Wolrd!")

Hello Wolrd!

In [15]:
age = 32 #Variable
print("My age is:",age)

My age is: 32

In [19]:
print(f"My age is: {age}") #f-string: To call the Varible inside print statement without writing any (,) Comma

My age is: 32

In [24]:
#Indexing In The Python Start from Zero
name = "Ningaraja D B"
College = "University of BDT College, Davanagere"
print("My name is {} and I am studying in the {}".format(name,College))

My name is Ningaraja D B and I am studying in the University of BDT College, Davanagere

In [34]:
#Place Holder 
city = "Davanagere"
native = "Jagaluru"
print("My native place is {my_native} and I am staying in {my_city}".format(my_native=native,my_city=city))

My native place is Jagaluru and I am staying in Davanagere

In [41]:
name = "Ningaraja D B"
degree = "BE"
career = "Data Science"
# print("My name is {} and I am pursing the degree {} also I am Interested in the field {}".format(name,degree,career))
print(f"My name is {name}, I am pursing the Degree {degree} and Interested in the {career}")

My name is Ningaraja D B, I am pursing the Degree BE and Interested in the Data Science

In [42]:
#default Data type of the input() Method is String
# int(input())  --> it typecast from string to integer

## Control Flow

In [12]:
#Task
age = int(input("Enter Your Age:"))
if age>=18 & age<=45: #We can use (and)-->(&)
    print("You are Young Blood")

Enter Your Age: 10

You are Young Blood

In [16]:
age = int(input("Enter Your Age:"))
if age>=18 & age<=45: #We can use (and)-->(&)
    print("You are Young Blood") 
else:
    print("Application Rejected!")

Enter Your Age: 48

You are Young Blood

In [3]:
#if else statemet

price = int(input("Enter the Price of the product: "))
if price>3000:
    print("Congragulation you have got 20% off on product")
    final_price = price - price*0.2
    print("The Final Price is :", final_price)
elif price>=2000 and price<=3000: 
    print("Congragulation you have 30% off on product")
    final_price = price - price*0.3
    print("The Final Price is :", final_price)
# else price<=1000 and price<=2000: 
    print("Congragulation you have 40% off on product")
    final_price = price - price*0.4
    print("The Final Price is :", final_price)

Enter the Price of the product:  1000

In [15]:
# While Loop:
joining_age = 25
while joining_age <= 50:
    print(joining_age)
    joining_age +=1
else:
    print("Its a Retirement Age")

25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
Its a Retirement Age

# for loop:

In [19]:
for x in "Jaishreeram":
    print(x)

J
a
i
s
h
r
e
e
r
a
m

In [7]:
#Nested Loop
#For Range Function
for i in range(1,10,):
    print(i,end ='')
    if i == 5:
        break

12345

In [14]:
n=7

for i in range(0,n):
    for j in range(0,i+1):
        print("*",end='')
    print("\r")

*
**
***
****
*****
******
*******

In [23]:
def print_equilateral_triangle(rows):
    for i in range(rows):
        # Print spaces before the stars
        print(" " * (rows - i - 1), end="")

        # Print stars for this row
        print("* " * (i + 1))

# Example usage
rows = 7
print_equilateral_triangle(rows)

      *
     * *
    * * *
   * * * *
  * * * * *
 * * * * * *
* * * * * * *